include ../../Icon/template.pug

header.ActionBar
  .ActionBar_container
    .ActionBar_searchField
      | !{ searchField }

    .ActionBar_actions
      a.IconButton.ActionBar_button(
        href='/profile',
        aria-label='Профиль',
        title='Перейти в профиль'
      )
        span.IconButton_icon
          +Icon('profile')

      button.IconButton.ActionBar_button.u_resetButton(
        type='button',
        title='Меню',
        aria-label='Меню',
        aria-haspopup='true',
        aria-expanded='false'
      )
        span.IconButton_icon
          +Icon('menu')
