include ../../TextField/template.pug

mixin ActionBar
  header.ActionBar
    .ActionBar_container
      .ActionBar_searchField
        +TextField({ size: 'small', label: 'Поиск' })(
          placeholder='Поиск',
          name='chat-search'
        )
          icon(src='search.svg')

      .ActionBar_actions
        a.IconButton.ActionBar_button(
          href='~/src/pages/profile/index.pug',
          aria-label='Профиль',
          title='Перейти в профиль'
        )
          span.IconButton_icon
            icon(src='profile.svg', height='26', width='26')

        button.IconButton.ActionBar_button.u_resetButton(
          type='button',
          title='Меню',
          aria-label='Меню',
          aria-haspopup='true',
          aria-expanded='false'
        )
          span.IconButton_icon
            icon(src='menu.svg', width='26', height='26')
