.ChatView&attributes(attrs)
  main.ChatView_container(
    role='tabpanel',
    id=`chat-view-${activeChatId}`,
    aria-expanded=activeChatId ? 'true' : 'false',
    aria-labelledby=activeChatId ? `chat-tab-${activeChatId}` : 'chat-view-hint'
  )
    if activeChatId
      | !{ chatHeader }
      article.ChatView_messages.DynamicScrollbar
        each message in messages
          | !{ message }

      | !{ messageComposer }
    else
      h1#chat-view-hint.ChatView_hint Выберите чат из списка слева
