mixin UserAvatar({ avatar, name, online = false } = {})
  .UserAvatar(class=`${online ? 'UserAvatar-statusOnline' : ''}`)&attributes(attributes)
    img.UserAvatar_image(
      src='~/src/assets/images/avatar.jpg',
      alt='Аватар',
      title=`@${name}`,
      draggable='false'
    )
