include ../../Icon/template.pug

- const user = { online: true, name: 'Андрей' };

header.ChatHeader&attributes(attrs)
  .ChatHeader_profile
    | !{ userAvatar }
    h1.ChatHeader_name= user.name

  button.IconButton.ChatHeader_action.u_resetButton(
    type='button',
    aria-label='Удалить чат',
    title='Удалить'
  )
    span.IconButton_icon
      +Icon('delete', 25)
