include ../../Icon/template.pug

form.MessageComposer(@submit)&attributes(attrs)
  .MessageComposer_wrapper
    .MessageComposer_textField
      | !{ textField }

    .MessageComposer_actions
      button.IconButton.MessageComposer_button.u_resetButton(
        type='button',
        aria-label='Прикрепить файл',
        title='Прикрепить файл',
        aria-haspopup='true',
        aria-expanded='false'
      )
        span.IconButton_icon
          +Icon('attach', 35)

      button.IconButton.MessageComposer_button.u_resetButton(
        type='submit',
        aria-label='Отправить сообщение',
        title='Отправить'
      )
        span.IconButton_icon
          +Icon('send', 35)
